body{
    font-family: "Open Sans";
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    background: #17191C;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    width: 1920px;
}
a{
    color: inherit;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
*{
    box-sizing: border-box;
}
.main-page-wraper{
    background:  url("/Video-production/img/hero.png") center top no-repeat, url("/Video-production/img/bottom-pic.png") center bottom 306px no-repeat;
    width: 1920px;
    margin: 0 auto;
}
.wraper__content{
    margin: 0 auto;
    width: 1142px;
}
.header{
    height: 129px;
    position: relative;
    margin-bottom: 92px;
}
.logo{
    display: block;
    position: absolute;
    top: 13px;
    left: 0px;
    width: 198px;
    height: 46px;
}
.menu{
    position: absolute;
    top: 30px;
    left: 439px;
}
.contacts{
    position: absolute;
    top: 18px;
    right: 16px;
    font-style: normal;
    text-align: right;
}
.menu__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}
.menu__item:last-child{
    margin-right: 0;

}
.menu__link{
    font-size: 14px;
    text-decoration: none;
}
.menu__link:hover{
    color:#FF3D00;

}
.contacts__phone{
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}
.contacts__info{
    font-size: 13px;
    text-decoration: underline;
    color: #FF3D00;
}
.hello__container{
    margin-left: 183px;
    width: 776px;
    text-align: center;
}
.hello__title{
    font-size: 72px;
    font-weight: 800;
    line-height: 98.5px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.hello__subtitle{
    font-size: 18px;
    margin-bottom: 40px;
}
.btn{
    background: #FF5500;
    border-radius: 35px;
    padding: 18px 54px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;;
    font-size: 14px;
    display: inline-block;
    margin-left: 3px;
}
.btn:hover{
    background: #FF3D00;
}
.btn:first-child{
    margin-left: 0px;
}
.btn--hello{
    margin-bottom: 234px;

}
.offers{
    margin-bottom: 180px;
}
.offers__item{
    width: 362px;
    height: 475px;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    border-radius: 4px;
    margin-right: 23px;
}
.offers__img{
    margin-left: 29px;
    margin-top: 39px;
}

.offers__list :last-child{
    margin-right: 0;
}
.offers__title{
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 14px;
}

.offer__feature-text ,.offers__text{
    color: #666666;
}
.offers__text{
    width: 313px;
    font-size: 14px;
    margin-top: 11px;
    margin-bottom: 33px;
}
.offers__features{
    margin-left: 0px;
}
.offers__feature{
    display: inline-block;
    vertical-align: top;
    width: 124px;
    margin-right: 55px;
    margin-bottom: 14px;
}
.offers__content{
    padding: 22px 22px;
}
.title{
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 49px;
}
.news__item{
    width: 557px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 11px;
    margin-bottom: 51px;
}
.news__item :last-child{
    margin-right: 0px;
}
.news__cover{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 70%;
}
.news__content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 32px 31px;
    padding-bottom: 23px;
    min-height: 140px;
}
.news__date{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.news__title{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 12px;
}
.news__desc{
    font-weight: 400;
    font-size: 16px;    
}
.pager {
    text-align: center;
    margin-bottom: 147px;
}
.pager___display,.pager___list,.pager__item{
    display: inline-block;
    vertical-align: middle;
}
.pager___display{
    margin-right: 20px;
}
.pager__item--active .pager__link{
    background: #FF3D00;
}
.pager__link{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}
.pager__link:hover{
background: #FF3D00;
}
.about__content::before{
    content: "";
    display: inline-block;
    width: 490px;
    height: 505px;
    left: 389px;
    background: url(/Video-production/img/cameraman.png) center center/cover no-repeat;
}
.about__desc{
    background: #fff;
    padding: 65px 80px 81px;
    display: inline-block;
    border-radius: 5px;
    width: 785px;
    height: 455px;
    margin-left: -140px;
}
.title--dark{
    color: #000000;
    font-weight: 800;
    font-size: 37px;  
    margin-bottom: 38px; 
}
.about__text{
    color: #060606;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 82px;
    width: 502px;
    height: 135px;
}
.about__text p {
    margin-bottom: 20px;
}
.about__text p :last-child{
    margin-bottom: 0px;
}
.footer{
    margin-left: 373px;
    width: 1142px;
    height: 129px;
    position: relative;
    margin-top: 81px;
}
.footer__container{
    width: 1142px;
    height: 92.64px;
    margin-bottom: 46px;
}
.footer__line{
    margin-bottom: 30px;
}
.footer__logo{
    display: block;
    position: absolute;
    top: 13px;
    left: 0px;
    width: 198px;
    height: 46px;
}
.footer-menu{
    position: absolute;
    top: 27px;
    left: 328px;
}
.socials{
    margin-left: 703px;
    margin-top: 22px;
    display: inline-block;
}

.socials__icon{
    display: inline-block;
    margin-right: 6px;
    width: 36px;
    height: 36px;
}
.socials__icon--telegram {
    background: url(/Video-production/img/telegram.png);
}
.socials__icon--telegram :hover{
    background: url(/Video-production/img/tg-hover.png);
}
.socials__icon--vk {
    background: url(/Video-production/img/vk.png);
}
.socials__icon--vk :hover{
    background: url(/Video-production/img/vk-hover.png);
}
.socials__icon--f {
    background: url(/Video-production/img/f.png);
}
.socials__icon--f :hover{
    background: url(/Video-production/img/f-hover.png);
}
.socials__icon--inst {
    background: url(/Video-production/img/in.png);
}
.socials__icon--inst :hover{
    background: url(/Video-production/img/inst-hover.png);
}
.socials__link{
    display: block;
    height: 36px;
}
.menu__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}
.footer-contacts{
    position: absolute;
    top: 10px;
    right: 0px;
    font-style: normal;
    text-align: right;
}

