body{
    font-family: "Open Sans";
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    background: #17191C;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    margin: 0;
}
a{
    color: inherit;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
*{
    box-sizing: border-box;
}
.main-page-wraper{
    background:  url("../img/hero.png") center top no-repeat, url("../img/bottom-pic.png") center bottom 306px no-repeat;
    max-width: 1920px;
    margin: 0 auto;
}
.wraper__content{
    margin: 0 auto;
    width: 1142px;
}
.header{
    height: 129px;
    position: relative;
    margin-bottom: 100px;
}
.header__container{
    display: flex;
    margin: 0 auto;
    width: 1142px;
    align-items: center;
}
.logo{
    display: block;
    width: 198px;
    height: 46px;
}
.menu{
    margin-left: 241px;
}
.menu__list{
    display: flex;
}
.contacts{
    display: flex;
    font-style: normal;
    text-align: right;
    flex-direction: column;
    margin-left: 246px;
    margin-top: 27px;
}
.menu__item{
    display: flex;
    vertical-align: middle;
    margin-right: 54px;
}
.menu__item:last-child{
    margin-right: 0;

}
.menu__item--active{
    color:#FF3D00;
}
.menu__link{
    font-size: 14px;
    text-decoration: none;
}
.menu__link:hover{
    color:#FF3D00;

}
.contacts__phone{
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}
.contacts__info{
    font-size: 13px;
    text-decoration: underline;
    color: #FF3D00;
}
.hello{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 234px;
}
.hello__container{
    display: flex;
    width: 776px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.hello__title{
    font-size: 72px;
    font-weight: 800;
    line-height: 98.5px;
    padding: 0 0 15px;
    text-transform: uppercase;
}
.hello__subtitle{
    font-size: 18px;
    padding: 0 0 40px;
}
.btn{
    width: 198px;
    background: #FF5500;
    border-radius: 35px;
    padding: 17px 54px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    display: flex;
}
.btn--light{
    color: #FF3D00;
    background: #fff;
    border: 2px solid #FF5500
    
}
.btn--light:hover{
    color: #fff;
}
.btn:hover{
    background: #FF3D00;
}
.btn--about{
    width: 168px;
    padding: 18px 40px;
}
.offers{
    margin-bottom: 180px;
}
.offers__list{
    display: flex;
}
.offers__item{
    width: 362px;
    min-height: 476px;
    background: #fff;
    vertical-align: top;
    border-radius: 4px;
    margin-right: 27px;
}
.offers__img{
    width: 76px;
    height: 76px;
    margin-bottom: 30px;
}
.offers__item:last-child{
    margin-right: 0;
}
.offers__title{
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
}

.offer__feature-text ,.offers__text{
    color: #666666;
}
.offers__text{
    width: 313px;
    font-size: 14px;
    padding: 11px 0 17px;
}
.offers__features{
    display: flex;
    flex-direction: row;
    padding: 14px 0 0;
}
.offers__feature{
    display: flex;
    vertical-align: top;
    width: 124px;
}
.offers__content{
    display: flex;
    flex-direction: column;
    padding: 38px 21px;
}
.title{
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 49px;
}
.news{
    margin-bottom: 144px;
}
.news__container{
    display: flex;
    flex-direction: column;
}
.news_list{
    display: flex;
    margin-bottom: 55px;
}
.news__item{
    width: 557px;
    height: 394px;
    object-fit: cover;
    opacity: 70%;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.news__item--camera{
    background-image: url(../img/camera.png);
}
.news__item--wedding{
    background-image: url(../img/wedding.png);
    margin-right: 0;
}
.news__item :last-child{
    margin-right: 0px;
}
.news__content{
    padding: 252px 29px 15px;
}
.news__date{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.news__title{
    font-weight: 700;
    font-size: 24px;
    padding: 12.4px 0 4px;
}
.news__desc{
    font-weight: 400;
    font-size: 16px;    
}
.pager {
    display: flex;
    text-align: center;
    align-items: baseline;
    margin-left: 382px;
}
.pager___list{
    display: flex;
}
.pager___display{
    margin-right: 20px;
}
.pager__item--active .pager__link{
    background: #FF3D00;
}
.pager__link{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}
.pager__link:hover{
background: #FF3D00;
}
.about__content{
    display: flex;
}
.about__container{
    margin-bottom: 75px;
}
.about__content::before{
    content: "";
    display: inline-flex;
    width: 490px;
    height: 505px;
    background: url("../img/cameraman.png") center center/cover no-repeat;
}
.about__desc{
    background: #fff;
    padding: 70px 82px 64px;
    display: inline-flex;
    border-radius: 5px;
    width: 785px;
    min-height: 455px;
    flex-direction: column;
    margin-left: -138px;
    margin-top: 95px;
}
.about__title{
    color: #000000;
    font-weight: 800;
    font-size: 36px;  
}
.about__text{
    color: #060606;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    width: 502px;
    min-height: 135px;
    padding: 21px 0 22px;
}
.about__text p {
    margin-bottom: 20px;
}
.about__text p :last-child{
    margin-bottom: 0px;
}
.footer{
    width: 1142px;
    margin: 0 auto;
    height: 129px;
}
.footer__container{
    display: flex;
    width: 1142px;
    height: 92.64px;
    align-items: center;
}
.footer__logo{
    display: block;
    width: 198px;
    height: 46px;
}
.footer-menu__list{
    display: flex;
    margin-left: 131px;
}
.footer__info{
    font-size: 11px;
}
.socials{
    margin-left: 54px;
}
.socials__icons{
    display: flex;
    margin-left: 58px;
}
.socials__icon{
    margin-right: 10px;
    width: 36px;
    height: 36px;
}
.socials__icon--telegram {
    background: url(../img/telegram.png);
}
.socials__icon--telegram :hover{
    background: url(../img/tg-hover.png);
}
.socials__icon--vk {
    background: url(../img/vk.png);
}
.socials__icon--vk :hover{
    background: url(../img/vk-hover.png);
}
.socials__icon--f {
    background: url(../img/f.png);
}
.socials__icon--f :hover{
    background: url(../img/f-hover.png);
}
.socials__icon--inst {
    background: url(../img/in.png);
}
.socials__icon--inst :hover{
    background: url(../img/inst-hover.png);
}
.socials__link{
    display: block;
    height: 36px;
}
.footer-contacts{
    display: flex;
    margin-top: 6px;
    margin-left: 63px;
    font-style: normal;
    text-align: right;
    flex-direction: column;
}
.footer-contacts__phone{
    text-decoration: none;
    font-weight: 400;
    font-size: 26px;
}

