body{
    font-family: "Open Sans";
    color: #fff;
    font-size: 16px;
    margin: 0;
    line-height: 1.42;
    background: #17191C;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    margin: 0;
}

a{
    color: inherit;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
*{
    box-sizing: border-box;
}
.main-page-wraper{
    max-width: 1920px;
    margin: 0 auto;
    background: #FFFFFF;
}

.header{
    height: 416px;
    background: url(../img/header.png) center top no-repeat;
    margin-bottom: 94px;
}
.header__container{
    display: flex;
    margin: 0 auto;
    width: 1142px;
    align-items: center;
}
.logo{
    display: block;
    width: 198px;
    height: 46px;
}
.menu{
    margin-left: 241px;
}
.menu__list{
    display: flex;
}
.contacts{
    display: flex;
    font-style: normal;
    text-align: right;
    flex-direction: column;
    margin-left: 246px;
    margin-top: 27px;
}
.menu__item{
    display: flex;
    vertical-align: middle;
    margin-right: 54px;
}
.menu__item:last-child{
    margin-right: 0;

}
.menu__item--active{
    color:#FF3D00;
}
.menu__link{
    font-size: 14px;
    text-decoration: none;
}
.menu__link:hover{
    color:#FF3D00;

}
.contacts__phone{
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}
.contacts__info{
    font-size: 13px;
    text-decoration: underline;
    color: #FF3D00;
}
.header__text{
    margin: 0 auto;
    width: 1142px;
}
.header__title{
    margin-top: 98px;
    font-weight: 800;
    font-size: 72px;
}
.header__desc{
    color: #9A9A9A;
    font-size: 14px;
    margin-top: 79px;
    text-decoration-line: underline;
}
.reviews{
    background: #FFFFFF;
}
.review{
    display: inline-flex;
    flex-direction: column;
    padding: 50px 25px;
    background: #F4F5F5;
}
.reviews__container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1142px;
}
.reviews__list{
    column-count: 2;
    column-gap: 26px;
    margin-bottom: 66px;
}
.review__photo{
    margin-right: 22px;
}
.reviews__item{
    margin-bottom: 17px;
}
.reviews__header{
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}
.review__user{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    color: #2E77A4;
    margin-bottom: 11px;
}
.review__user::after{
    content: url(../img/vk-blue\ 1.png);
    height: 29px;
}
.avatar{
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
}
.review__tags{
    display: flex;
    align-items: flex-start;
}
.tag{
    font-weight: 400;
    font-size: 13px;
    color: #303030;
    padding: 10px 25px;
    border-radius: 35px;
    background:#E7E7E7;
}
.tag--bg--watusi{
    background: #F2D4C9;
}
.review__title{
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    color:#202020;
    margin-bottom: 20px;
}
.review__content-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #818181;
    margin-bottom: 36px;
}
.review__date{
    font-weight: 600;
    font-size: 14px;
    color: #1A1B1E;
}
.pager {
    color: #000000;
    display: flex;
    text-align: center;
    margin-bottom: 85px;
    margin-left: 422px;
    align-items: baseline;
}
.pager___list{
    display: flex;
}
.pager___display{
    margin-right: 20px;
}
.pager__item--active .pager__link{
    color: #fff;
    background: #FF3D00;
}
.pager__link{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}
.pager__link:hover{
    color: #fff;
    background: #FF3D00;
}
.separator{
    background: #373737 url(../img/party.png) right 20% bottom no-repeat;
    min-height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.separator__container{
    margin: 0 auto;
    width: 1142px;
}
.separator__content{
    max-width:553px;

}
.separator__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
}
.inner-section--bg--grey{
    background: #F4F5F5;

}
.inner-section__container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1142px;
}
.inner-section__title{
    color: #202020;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 56px;
}
.form__row{
    display: flex;
    margin-bottom: 26px;
}
.form__input{
    flex: 1;
    margin-right: 30px;
    border-radius: 4px;
    border: none;
    background: #fff;
    padding: 22px 30px;
    font-size: 18px;
    color: #1A1B1E;
}
.form__input--FIO{
    border: 1px solid #CCCCCC
}
.form__input::placeholder{
    color: #666;
}
.form__input--FIO::placeholder{
    color: #1A1B1E;
}
.form__input:last-child{
    margin-right: 0;
}
.form__input--textarea{
    height: 235px;
}
.form__controls{
    display: flex;
    margin-bottom: 33px;
}
.form__controls-title{
    color: #1A1B1E;
    width: 366px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-right: 103px;
}
.controls{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.controls__item{
    margin-left: 13px;
    margin-bottom: 10px;
}
.controls__elem{
    cursor: pointer;
}
.controls__chekbox:checked~.controls__tag{
background: #F2D4C9;
}
.controls__chekbox{
    display: none;
}
.btn--color--red{
    width: 168px;
    background: #FF5500;
    border-radius: 35px;
    padding: 18px 40px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
.btn--color--red:hover{
    background: #FF3D00;
}
.btn--color--grey{
    width: 168px;
    background: #8E8E8E;
    border-radius: 35px;
    padding: 18px 40px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
.btn--color--grey:hover{
    background: #2B2B2B;
}
.form__btns{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 96px;
}
.fotm-btn{
    margin-right: 13px;
}
.fotm-btn:last-child{
    margin-right: 0;
}
.footer{
    background: #17191C;
}
.footer__container{
    display: flex;
    width: 1142px;
    margin: 0 auto;
    height: 129px;
    align-items: center;
}
.footer__line{
    margin-bottom: 30px;
}
.footer__logo{
    display: block;
    width: 198px;
    height: 46px;
}
.footer-menu__list{
    display: flex;
    margin-left: 131px;
    margin-top: 19px;
}
.footer__info{
    font-size: 11px;
}
.socials{
    margin-left: 54px;
    margin-top: 10px;
}
.socials__icons{
    display: flex;
    margin-left: 58px;
}
.socials__icon{
    margin-right: 10px;
    width: 36px;
    height: 36px;
}
.socials__icon--telegram {
    background: url(../img/telegram.png);
}
.socials__icon--telegram :hover{
    background: url(../img/tg-hover.png);
}
.socials__icon--vk {
    background: url(../img/vk.png);
}
.socials__icon--vk :hover{
    background: url(../img/vk-hover.png);
}
.socials__icon--f {
    background: url(../img/f.png);
}
.socials__icon--f :hover{
    background: url(../img/f-hover.png);
}
.socials__icon--inst {
    background: url(../img/in.png);
}
.socials__icon--inst :hover{
    background: url(../img/inst-hover.png);
}
.socials__link{
    display: block;
    height: 36px;
}
.footer-contacts{
    display: flex;
    margin-top: 6px;
    margin-left: 63px;
    font-style: normal;
    text-align: right;
    flex-direction: column;
}
.footer-contacts__phone{
    text-decoration: none;
    font-weight: 400;
    font-size: 26px;
}
